<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KiQWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Toy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>170AAC6D1DAD0B7500022F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94310D091C50C82D00E3B131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94310D1F1C50C82E00E3B131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94310D2A1C50C82E00E3B131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
